<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!--information about Agile Rally -->

    <add key="RallyUserName" value="ben.price@itignite.com" />
    <add key="RallyPassword" value="asdf11@ASDF" />
    <add key="RallyUrl"      value="https://rally1.rallydev.com" />
    <add key="RallyallowSSO"  value="false" />
    <add key="RallyWorkspace" value="515512765236" />
    
    <!--information about CA PPM -->   
    <add key="PPMUserName"    value="marco.santos@itignite.com" /> 
    <add key="PPMPassword"    value="Spaider@2010" />
    
   
    <add key="PPMUrl"         value="http://onetimesheet.com:5081/ppm" />
    <add key="PPMallowSSO"    value="false" />
    
    <!--information about Authenticate CA PPM On Demand -->
    <add key="AuthenticateToken" value="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJtYXJjby5zYW50b3NAaXRpZ25pdGUuY29tIiwiaXNzIjoiaHR0cHM6Ly9wcG0uY2EuY29tIiwiZ2VueCI6IjRiMzRlMWE0MmU5OTI0NzAwMmNjMmRkY2NkOThlMjU4IiwiZXhwIjoxNjA0MTI3NjAwLCJ1c2VyIjo1MDI2MDI4LCJqdGkiOiJlMTI2OTI3Ni0yYmM3LTQ0YTUtYWZjMS1mZWMxNWUxMGRkODAiLCJ0ZW5hbnQiOiJjbGFyaXR5In0.xg5LFJ8HE8MFx4kMGypSwYr5wNMN6wthgpXZ8P7r9uA" />
    <add key="AuthenticateType"     value="Basic" /> <!--Token or Basic-->
    <!--<add key="ClientApiPPM"         value="RallyToPPM" />--> <!--Client Id API KEY-->
    <add key="ClientApiPPM"         value="r2" /> <!--Client Id API KEY-->
    <!--General information about Integration -->
    <add key="StateDefects"            value="All" /> <!--"All", "Closed","Fixed","Open","Submitted"-->
    <add key="GetAllDefects"           value="Yes" />  <!--Get all defects without DefectBackDay Value "Yes" or "No" after full sync put "No"-->
    <add key="DefectBackDay"           value="-3" />  <!--Recomend(-2 days) - Add number of days today - negative value subtract the days today, Query.Operator.GreaterThan-->
    <add key="DefectForwardDay"        value="0" />   <!--Add number of days today-->
    <add key="PPMResourceDefault"       value="admin" />
   
    <!--General information about Stories and Tasks -->
    <add key="IterationBackDay"        value="-360" /> <!--Add number of days today - negative value subtract the days today-->
    <add key="IterationForwardDay"     value="300" />    <!--Add number of days today-->
    <add key="TaskPageSizeLimite"      value="5000" />
    <add key="LastUpdate"              value="-60" />
    <add key="RumModuloTest"           value="false" />
    <add key="RallyKeyExternalID"      value="3ff08b1e-b019-4218-abc4-b5eb7b4a5e8c" />
   


  </appSettings>
</configuration>